[Unit]
Description=Puma HTTP server
After=network.target mongodb.service
Wants=mongodb.service

[Service]
Type=simple
User={{ deploy_user }}
EnvironmentFile=/home/{{ deploy_user }}/db_config
WorkingDirectory=/home/{{ deploy_user }}/reddit/
ExecStart=/usr/local/bin/puma
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
